<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello World!</title>
        <link href="/styles/style.css" rel="stylesheet">
        {% if app.debug %}
            <script>
                var require = {
                    baseUrl: "/scripts",
                    paths: {
                        'require':    'vendor/require-2.1.8',
                        'jquery':     'vendor/jquery-1.10.2',
                        'bootstrap':  'vendor/bootstrap-3.0.0'
                    },

                    shim: {
                        "bootstrap": { deps: ["jquery"] }
                    }
                };
            </script>
        {% else %}
            <script>var require = { baseUrl: "/scripts" };</script>
        {% endif %}
        <script data-main="app" src="/scripts/vendor/require-2.1.8.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Patryk Pacewicz | Hello</a>
            </div>
        </nav>
        {{ block('content') }}
    </body>
</html>